{% extends 'base.html' %}
{% block title %}Доступные курсы{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <h1>Информация о доступных курсах обучения</h1>

    <ol>
    {% for course, category in courses.items() %}
        <li>{{ course }}</li>
            <ul>
                {% for lesson in category %}
                    <li>{{ lesson }}</li>
                {% endfor %}
            </ul>
    {% endfor %}
    </ol>
    <p><a href="/new_course">Добавить курс обучения.</a></p>

{% endblock %}
