{% extends 'base.html' %}
{% block title %}Контакты{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <h1>Страница контактов.</h1>
    <p> Здесь Вы можете отправить нам сообщение. </p>
    <form class="form" method="POST" name="authorization" action="/info">
        e-mail: <br><input type="email" name="email" size="30"><br>
        Тема: <br><input type="text" name="topic" size="30"><br>
        Текст: <br><textarea name="message" cols="30" rows="4" placeholder="Введите сообщение"></textarea>
        <br><input type="submit" value="Отправить">
    </form>
{% endblock %}