{% extends 'base.html' %}
{% block title %}Добавление нового курса{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <h1>Добавление нового курса</h1>

    <form class="form" method="POST" name="new_course" action="/about">


            {% if categories %}
                <p>Выберите категории(ю) для нового курса</p>
                <div class="cat_list">
                    {% for category in categories %}
                        <div class="cat_pcs">
                           <input id={{ category }} type="checkbox" name="category" value={{ category }}>
                           <label for={{ category }}> {{ category }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Категории не определены</p>
            {% endif %}


        Название нового курса: <input type="text" name="new_course" size="40"><br>
        <input type="submit" value="Создать">
    </form>
    <p><a href="/new_category">Добавить категорию курсов.</a></p>
    <p><a href="/about">К списку курсов.</a></p>

{% endblock %}