{% extends 'base.html' %}
{% block title %}Главная - Otiva{% endblock %}

{% block content %}
    <!-- header_menu -->

    <div class="container">

        <div id="Layer0" class="mt-3 py-3"
             style="">
            <div id="Layer0_Container" class="d-flex justify-content-evenly">
                <div id="wb_Text2" style="">
                    <span style="color:#000000;font-family:Arial,serif;font-size:13px;">Техника</span></div>
                <div id="wb_Text6" style="">
                    <span style="color:#000000;font-family:Arial,serif;font-size:13px;">Запчасти</span></div>
                <div id="wb_Text7" style="">
                    <span style="color:#000000;font-family:Arial,serif;font-size:13px;">Расходные материалы</span></div>
                <div id="wb_Text3" style="">
                    <span style="color:#000000;font-family:Arial,serif;font-size:13px;">Услуги по ремонту</span></div>
                <div id="wb_Text4" style="">
                    <span style="color:#000000;font-family:Arial,serif;font-size:13px;">Утилизация</span></div>
                <div id="wb_Text8">
                    <span style="color:#000000;font-family:Arial,serif;font-size:13px;">Распродажа</span></div>
                <div id="wb_Text5">
                    <span style="color:#000000;font-family:Arial,serif;font-size:13px;">Резюме / Вакансии</span></div>
            </div>
        </div>


        <!-- content -->

        {% for good in goods %}

            <div class="card mb-3 shadow my-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ good.good_photos.first.image.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ good.device.dev_model }}</h5>
                            <p class="card-text">{{ good.description }}</p>
                            <div class="row">
                                <div class="col">
                                    <p>Город: {{ good.owner.address.city }}</p>
                                    <p>Тел: {{ good.owner.address.corporate_phone }}</p>
                                </div>
                                <div class="col">
                                    <p>Состояние: {{ good.condition }}</p>
                                    <p>Статус: {{ good.owner }}</p>
                                </div>
                                <div class="col">
                                    <p>Цена: {{ good.price }}</p>
                                    <p>Дата размещения: {{ good.posted|date:'d/m/Y' }}</p>
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}